.Nexttab4-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  overflow-x: hidden;
  /* background-image: url(imagex.jpg);
  background-size: cover;
  background-position: center; */
}

.Nexttab4-text {
  flex: 1;
  padding-right: 40px;
}

.Nexttab4-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.Nexttab4-text p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.Nexttab4-image {
  flex: 1;
  max-width: 500px;
  position: relative;
}

.Nexttab4-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
}


@media (max-width: 768px) {
  .Nexttab4-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 6px;
  }

  .Nexttab4-text {
    padding: 20px 0px;
    margin-bottom: 0px;
  }

  .Nexttab4-text h1 {
    font-size: 1.5rem;
  }

  .Nexttab4-image {
    max-width: 100%;
  }
}